.industries {
  background-image: url('../img/sprites/svg-sprite.svg#industry-bg') !important;
  &-col{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 15px;
  }
  @media (max-width: 1199.98px) {
    padding: 15px;
    &-col{
      flex: 0 0 50%;
      max-width: 100%;
      min-width: 50%;
      display: flex;
      flex-direction: row;
      a{
        min-width: 50%;
        height: 400px;
        padding: 15px;

      }
      .industries-descr{
        position: absolute;
        left: 15px;
        top: 15px;
        width: 100%;
      }
    }
    &-row{
      padding-top: 200px;
      flex-direction: row;
      flex-wrap: nowrap;
      min-width: 100%;
      overflow-x: scroll;
      padding-bottom: 50px;
    }
    .alx-isotope-item{
      height: 100%;
      border-radius: 5px;
      .alx-portfolio-item{
        height: 80%;
      }
    }
    .alx-portfolio-item__style1 .alx-portfolio-item-details{
      opacity: 1;
      height: 100%;
      h4{
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
      }
      &:hover h4{
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
      }
    }
    .alx-portfolio-item-image > div{
      background-size: cover;
      background-position: center;
    }
  }
  .right.flip.widt2{
    transform: scaleX(1);
    left: -10px;
  }
  @media (max-width: 992px) {
    .industries-col {
      flex: 0 0 75%;
      min-width: 75%;
      padding: 0;
    }
  }
  @media (max-width: 768px) {
    .industries-col {
      flex: 0 0 100%;
      min-width: 100%;
      padding: 0;
    }
  }
  @media (max-width: 520px) {
    .industries-col {
      flex: 0 0 150%;
      min-width: 150%;
    }
  }
}
