#particlesHome{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1;
  @media (max-width: 1199.98px) {
    display: none;
  }
}
.home{
  //padding-left: 100px;
  .builder img{
    display: none;
  }
  @media (max-width: 1199.98px) {
    background: #06154d;
    padding-left: 0;
    &-left,
    &-right{
      height: 100%;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      padding: 0;
    }
    .builder{
      display: block;
      background: none;
      height: 100%;
      img{
        display: block;
        width: 100%;
      }
    }
    &-right{
      padding: 10vh;
      text-align: center;
    }
  }
}
