body {
  scroll-behavior: smooth;
}

// ---------- SCROLLING STYLES ---------- //

$panelcount: 11; // set # of panels/sections here
$contWidth: 100% * $panelcount;
//.wrapper{
//  width: 100% !important;
//  height: 100% !important;
//  overflow: hidden !important;
//  perspective: 1000 !important;
//  padding-left: 100px;
//  position: inherit!important;
//  @media (max-width: 1199.98px) {
//    padding-left: 0;
//  }
//}
//.slideContainer {
//  width: percentage($panelcount);
//  height: 100%;
//  display: flex;
//  flex-wrap: nowrap;
//  flex-direction: row;
//  justify-content: flex-start;
//  @media (max-width: 1199.98px) {
//    display: flex;
//    flex-direction: column;
//    width: 100%;
//  }
//}

.section {
  & {
    //height: 100vh;
    //height: 100%;
    //width: calc( 100% / #{$panelcount} );
    //width: 100%;
    //max-width: 100vw;
    //display: inline-block;
    //float: left;
    // aesthetic only ----
    //display: flex;
    position: relative;
  }

  @media (max-width: 1199.98px) {
    //width: 100%;
    //height: 100% ;
  }
}
//.alx-scroll-wrap{
//  padding-left: 100px;
//  position: relative;
//  width: 100%;
//}
#pinContainer {
  width: 100% !important;
  height: 100vh !important;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  //padding-left: 100px;
  @media (max-width: 1199.98px) {
    padding-left: 0;
    height: 100% !important;
  }
}
.pg-container{
  padding-left: 100px;
}
#slideContainer {
  width: $contWidth !important; /* to contain 11 sliders, each with 100% of window width */
  //width: 100%;
  height: 100%;
  @media (max-width: 1199.98px) {
    width: 100%;
  }
}
.section {
  height: 100vh !important;
  width: 100vw !important; /* relative to parent -> 100% of 1100% = 100% of window width */
  //width: 100%;
  float: left;
  display: inline-block;
  overflow: hidden;
  //padding-left: 100px;
  @media (max-width: 1199.98px) {
    width: 100%;
    height: 100%  ;
  }
}
