.partners{
  height: 100vh;
  position: relative;
  background: url("../img/global/section_bg.webp")no-repeat bottom left;
  background-size: cover;
  overflow: hidden;
  padding-left: 100px;
  @media (max-width: 1199px) {
    padding-left: 0;
  }
  @media (max-width: 992px) {
    &-left,
    &-right{
      flex: 0 0 100%;
      max-width: 100%;
    }
    .career1{
      padding: 10% 43px;
    }
    .partner::before,
    .alone:after{
      height: 200px;
      width: 200px;
    }
  }
}
#particlesPartners{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1;
}
