<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="author" content="Aequalis Software Solutions">
<meta name="description" content="Aequalis's ICO, Smart contract development, Dapps development, Ethereum development, Nem blockchain development, Stellar blockchain development, Crypto centralised and decentralised p2p exchange development, Hyperledger Fabric, Hyperledger Sawtooth based private blockchain development
  services are backed by 10+ years of professional experience in building enterprise applications">
<meta name="theme-color" content="#c9e0e04d">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="./apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="./apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="./apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon-180x180.png">
<link href="./favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
<title>Aequalis Software Solutions Pvt Ltd Private | Public Blockchain Development Company</title>
<link rel="stylesheet" href="./styles/main.css">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107694468-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107694468-2');
</script>

<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('v9xxepy7mfnh');
</script>
<!-- End of Async Drift Code -->


<script>
	;(function(window, document){
		'use strict';
		var file     = 'img/sprites/svg-sprite.svg',
				revision = 1;
		if(!document.createElementNS || !document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect)
			return true;
		var isLocalStorage = 'localStorage' in window && window['localStorage'] !== null,
				request,
				data,
				insertIT = function(){
					var insertSprite = document.getElementById('svg-placeholder');
					insertSprite.insertAdjacentHTML('beforeend', data);
				},
				insert = function(){
					if( document.body ) insertIT();
					else document.addEventListener('DOMContentLoaded', insertIT);
				};

		if(isLocalStorage && localStorage.getItem('inlineSVGrev') == revision){
			data = localStorage.getItem('inlineSVGdata');
			if(data){
				insert();
				return true;
			}
		}
		try{
			request = new XMLHttpRequest();
			request.open('GET', file, true);
			request.onload = function(){
				if(request.status >= 200 && request.status < 400){
					data = request.responseText;
					insert();
					if(isLocalStorage){
						localStorage.setItem('inlineSVGdata',  data);
						localStorage.setItem('inlineSVGrev',   revision);
					}
				}
			}
			request.send();
		}
		catch(e){}
	}(window, document) );
</script>
